body {
    background-image: url("https://i.imgur.com/4nTePTC.png");
    background-color: #1c1171;
    margin: 0;
}

.text {
    color: #1c1171;
    font-family: "Acme";
}

.header {
    background-color: #fffae7;
    width: 100%;
    height: 20;
    position: relative;
    border-style: solid;
    border-color: #1c1171;
    border-bottom-width: 5px;
    top: 0;
    text-align: center;
}

.panel1 {
    background-color: #fffae7;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #1c1171;
    width: 960px;
}

.btn {
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color: #fffae7;
    font-size: 16px;
    color: #1c1171;
    font-family: "Acme";
}

.ftrcontent {
    text-align: center;
    color: #1c1171;
    font-family: "Acme";
}

.hr {
    width: 90%;
    color: #1c1171;
}

.pimages {
    display: inline-block;
    border-style: solid;
    border-color: #1c1171;
    border-width: 5px;
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 10px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 4%;
    position: absolute;
    border-style: solid;
    border-color: #1c1171;
    border-top-width: 5px;
    bottom: 0;
    left: 0;
    background: #fffae7;
}

#htitle {
    margin-left: 60px;
    margin-right: 60px;
    width: 400px;
    margin-top: 20px;
    float: left;
}

#par1 {
    width: 480px;
    margin-left: 60px;
    float: left;
}

#dave {
    border-style: solid;
    border-color: #1c1171;
    border-width: 5px;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 40px;
}

#contactcontent {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#name {
    width: 25%;
}

#email {
    width: 50%;
}

#message {
    width: 50%;
    height: 400px;
}