body {
    background-image: url(../images/background.jpg);
    background-color: #eee;
    color: #4e4e4e;
    font-family: "Acme";
}

hr {
    width: 90%;
    color: #4e4e4e;
}

.row {
    width: 100%;
    margin-bottom: 20px;
}
.div {
    background-color: #f0f0e1;
    border-style: solid;
    border-width: 2px;
    border-color: #4e4e4e;
    width: 1040px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
}

h2, a {
    margin: 20px;
}

img {
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #4e4e4e;
}

#profiles {
    font-size: 80px;
    margin: 20px;
}

#i1 {
    height: 300px;
}